<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangdai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,150},{164,94}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,146},{164,94}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>guangdai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,150},{162,106}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,134},{162,106}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>guangdai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{152,150}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,80},{152,150}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>guangdai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,188}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{128,188}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>guangdai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{92,150}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,11},{92,150}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guangdai.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59513f9957bad8a3126b2aeddea4f9f8$</string>
            <key>textureFileName</key>
            <string>guangdai.png</string>
        </dict>
    </dict>
</plist>
